.counter__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #E6EFF3;
}

.counter__circle {
    /* background-color: #3ee1ff; */
    height: 70%;
    width: 50%;
    border-radius: 50%;
    font-size: 8vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.box{
    display: inline-block;
    overflow: hidden;
}

.box:after{
    position: absolute;
    white-space: pre;
    content: "0\A 1\A 0\A 2\A  0\A 3\A 0\A 4\A 0\A 5";
}

.question__right {
    background: rgb(242,114,107);
    background: linear-gradient(180deg, rgba(242,114,107,1) 0%, rgba(0,255,169,1) 0%, rgba(1,183,184,1) 50%, rgba(72,62,151,1) 100%);
    color: white;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* counter */


