.grid_container_dark {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    width: 100vw;
    height: 100vh;
    /* body elements */
    background-color: #000E57;
    color: white;
    font-size: 1.5vw;
    font-family: 'Alata';
}

.content_dark {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 35px;
    overflow: hidden;
    background-color: rgb(107, 99, 103);
}



