.nickname__container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 35px;
    overflow: hidden;
    background-color: #090D28;
        /* empieza como padre aquí */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 60% 1fr;
}

.nickname__content {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 2.5vw;
}

.nickname__input {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-style: none;
    border-radius: 7px;
    height: 70px;
    /* width: 30px; */
}