body {
    background-color: #000E57;
    margin: 0px;
    font-size: 26px;
    font-family: 'Alata';
}
.grid_container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    width: 100vw;
    height: 100vh;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 35px;
    overflow: hidden;
    background-color: rgb(107, 99, 103);
}



